@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?gm8rhw');
  src:  url('icomoon.eot?gm8rhw#iefix') format('embedded-opentype'),
    url('icomoon.ttf?gm8rhw') format('truetype'),
    url('icomoon.woff?gm8rhw') format('woff'),
    url('icomoon.svg?gm8rhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-target:before {
  content: "\e900";
}
.icon-devices:before {
  content: "\e90d";
}
.icon-verified:before {
  content: "\e901";
}
.icon-graduation-cap:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-github:before {
  content: "\e90c";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-envelope-circle:before {
  content: "\ea86";
}
